/**
 * CSS by Vanceagher
 */

@import url(https://fonts.googleapis.com/css2?family=Helvetica:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

@font-face { 
  font-family: 'ScratchFont';
  src: url('scratchfont.ttf');
}

html, body {
  background-color:#ffffff00;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  margin-left: 7vw;
  margin-right: 7vw;
}

html {
  background-color: #4D97FF;
}

h1 {
  color: #f8a31e;
  font-family: ScratchFont;
  font-size: 100px;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
  text-align: center;
  margin-top: 55px;
}

a {
  text-decoration: none;
  color: #e851de;
}
a:hover {
  text-decoration: underline;
}

button {
  border-radius: 5px;
  border: none;
  background-color: #dbdbdb;
  transition: .2s;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

#offlineify {
  border-radius: 5px;
  border: none;
  background-color: #dbdbdb;
  padding: 10px;
  transition: .2s;
}

#offlineify:hover {
  background-color: #ccc;
  cursor: pointer;
}

#load-no-minify {
  border-radius: 5px;
  border: none;
  background-color: #dbdbdb;
  padding: 10px;
  transition: .2s;
  margin-right: 10px;
}

#load-no-minify:hover {
  background-color: #ccc;
  cursor: pointer;
}

.log {
  color: #111;
  background-color: #dbdbdb;
  padding: 10px 0;
  font-family: "Courier New", Courier, monospace;
  height: 100px;
  resize: vertical;
  overflow: auto;
  border-radius: 5px;
}
.log-entry {
  padding: 0 10px;
  white-space: pre-wrap;
}
log-error {
  margin-top: 5px;
  background-color: none;
  color: red;
  font-weight: 900;
}
.log-done {
  margin-top: 5px;
  background-color: none;
  color: green;
  font-weight: 900;
}
.log-progress {
  opacity: 0.5;
}

#bott {
  margin-bottom: 5px;
}

.header {
  font-size: 10px;
  position: sticky;
  background-color: white;
  top: 0px;
  color: #0f0f14;
  margin: 0px;
  padding: 10px;
  padding-left: 15px;
  z-index: 100;
  box-shadow: black 5px 5px 10px;
}

.mainarea {
  padding-top: 2px;
  border-radius: 20px;
  color: #111;
  background-color: #fff;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 100px;
  padding-bottom: 0px;
}

.htmlify {
  position: relative;
  top: -83px;
  padding: 15px;
  float: right;
  background-color: #78ffc3;
  border: 0px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  height: 90px;
  transition: background-color 0.25s, border-radius 0.25s;
}
.htmlify:hover {
  background-color: #78c3ff;
  border-radius: 0px;
  transition: background-color 0.25s, border-radius 0.25s;
}

#monitor-colour {
  border: none;
  background: none;
  height: 20px;
  width: 20px;
}

#monitor-text {
  border: none;
  background: none;
  height: 20px;
  width: 20px;
}

input {
  margin-top: -2px;
}

#id {
  position: absolute;
  margin-left: 12px;
  border-radius: 5px;
  border: none;
  background-color: #dbdbdb;
  padding: 5px;
}

#file::-webkit-file-upload-button {
  visibility: hidden;
}

#file::before {
  content: 'Upload file';
  position: absolute;
  margin-left: 8px;
  border-radius: 5px;
  border: none;
  background-color: #dbdbdb;
  padding: 5px;
  margin-top: -3px;
}

div fieldset legend {
  font-weight: 900;
}

body div fieldset {
  border-radius: 10px;
  border: 2px solid #e3e3e3;
}

#loading-image-file::-webkit-file-upload-button {
  visibility: hidden;
}

#loading-image-file::before {
  content: 'Upload file';
  position: absolute;
  margin-left: 8px;
  border-radius: 5px;
  border: none;
  background-color: #dbdbdb;
  padding: 5px;
  margin-top: -3px;
}

#title {
  width: 200px;
  position: absolute;
  margin-left: 12px;
  border-radius: 5px;
  border: none;
  background-color: #dbdbdb;
  padding: 5px;
}

#username {
  position: absolute;
  margin-left: 12px;
  border-radius: 5px;
  border: none;
  background-color: #dbdbdb;
  padding: 5px;
}

#extension-url {
  width: 300px;
  position: absolute;
  margin-left: 12px;
  border-radius: 5px;
  border: none;
  background-color: #dbdbdb;
  padding: 5px;
}

#height {
  margin-left: 4px;
  border-radius: 5px;
  border: none;
  background-color: #dbdbdb;
  padding: 5px;
  width: 60px;
}

#width {
  margin-left: 4px;
  border-radius: 5px;
  border: none;
  background-color: #dbdbdb;
  padding: 5px;
  width: 60px;
  margin-right: 12px;
}

#cloud-ws {
  position: absolute;
  margin-left: 12px;
  border-radius: 5px;
  border: none;
  background-color: #dbdbdb;
  padding: 5px;
}
